*,
*::before,
*::after {
    box-sizing: border-box
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

article,
aside,
dialog,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
    display: block
}

body {
    margin: 0
}

[tabindex="-1"]:focus {
    outline: none !important
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: .5rem;
    font-weight: 500
}

abbr[title],
abbr[data-original-title] {
    text-decoration: underline;
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted;
    cursor: help;
    border-bottom: 0
}

address {
    margin-bottom: 1rem;
    font-style: normal;
    line-height: inherit
}

p,
ol,
ul,
dl {
    margin-top: 0;
    margin-bottom: 1rem
}

ol ol,
ul ul,
ol ul,
ul ol {
    margin-bottom: 0
}

dd {
    margin-bottom: .5rem;
    margin-left: 0
}

blockquote,
figure {
    margin: 0 0 1rem
}

dfn {
    font-style: italic
}

dt,
b,
strong {
    font-weight: 500
}

small {
    font-size: 80%
}

sub,
sup {
    position: relative;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline
}

sub {
    bottom: -0.25em
}

sup {
    top: -0.5em
}

a {
    color: var(--color-links);
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects
}

a:hover {
    color: #0056b3;
    text-decoration: underline
}

a:not([href]):not([tabindex]),
a:not([href]):not([tabindex]):hover,
a:not([href]):not([tabindex]):focus {
    color: inherit;
    text-decoration: none
}

a:not([href]):not([tabindex]):focus {
    outline: 0
}

pre,
code,
kbd,
samp {
    font: .9375rem/1.25 "Courier", "Courier New", "Nimbus Mono L", "Courier 10 Pitch", "FreeMono", sans-serif-monospace, monospace;
    font-size-adjust: .43
}

pre {
    margin-top: 0;
    margin-bottom: 1rem;
    overflow: auto;
    -ms-overflow-style: scrollbar
}

img {
    vertical-align: middle;
    border-style: none
}

svg:not(:root) {
    overflow: hidden
}

a,
area,
button,
[role=button],
input:not([type=range]),
label,
select,
summary,
textarea {
    touch-action: manipulation
}

table {
    border-collapse: collapse
}

caption {
    padding-top: .75rem;
    padding-bottom: .75rem;
    color: #868e96;
    text-align: left;
    caption-side: bottom
}

th {
    text-align: inherit
}

label {
    display: inline-block;
    margin-bottom: .5rem
}

button {
    border-radius: 0
}

button:focus {
    outline: 1px dotted;
    outline: 5px auto -webkit-focus-ring-color
}

input,
button,
select,
optgroup,
textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit
}

button,
input {
    overflow: visible
}

button,
select {
    text-transform: none
}

button,
html [type=button],
[type=reset],
[type=submit] {
    -webkit-appearance: button
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
    padding: 0;
    border-style: none
}

input[type=radio],
input[type=checkbox] {
    box-sizing: border-box;
    padding: 0
}

input[type=date],
input[type=time],
input[type=datetime-local],
input[type=month] {
    -webkit-appearance: listbox
}

textarea {
    overflow: auto;
    resize: vertical
}

fieldset {
    min-width: 0;
    padding: 0;
    margin: 0;
    border: 0
}

legend {
    display: block;
    width: 100%;
    max-width: 100%;
    padding: 0;
    margin-bottom: .5rem;
    font-size: 1.5rem;
    line-height: inherit;
    color: inherit;
    white-space: normal
}

progress {
    vertical-align: baseline
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
    height: auto
}

[type=search] {
    outline-offset: -2px;
    -webkit-appearance: none
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-file-upload-button {
    font: inherit;
    -webkit-appearance: button
}

output {
    display: inline-block
}

summary {
    display: list-item
}

template {
    display: none
}

[hidden] {
    display: none !important
}

div.color-bg-1 {
    --color-user: var(--color-user-1)
}

div.color-bg-2 {
    --color-user: var(--color-user-2)
}

div.color-bg-4 {
    --color-user: var(--color-user-4)
}

div.color-bg-5 {
    --color-user: var(--color-user-5)
}

div.color-bg-6 {
    --color-user: var(--color-user-6)
}

div.color-bg-7 {
    --color-user: var(--color-user-7)
}

div.color-bg-8 {
    --color-user: var(--color-user-8)
}

div.replies-bot-account,
div.saved-messages {
    --color-user: var(--color-primary)
}

div.deleted-account {
    --color-user: var(--color-gray)
}

@media print {

    body,
    html,
    .messages-layout {
        background: #fff
    }

    #LeftColumn,
    #RightColumn-wrapper,
    .ChatOrUserPicker,
    #Notifications,
    .Modal,
    .ActiveCallHeader,
    .unread-count,
    #middle-column-portals,
    .header-tools,
    .ScrollDownButton,
    .middle-column-footer {
        display: none !important
    }

    #MiddleColumn {
        border-left: none !important
    }

    html,
    body,
    #root,
    #UiLoader,
    #Main,
    #MiddleColumn,
    .MessageList,
    .messages-layout,
    .Transition,
    .Transition>* {
        height: auto !important;
        overflow: visible !important;
        display: block !important;
        position: static !important;
        margin: 0 !important;
        padding: 0 !important;
        width: 100% !important;
        max-width: 100% !important;
        transform: none !important
    }

    .messages-container {
        max-width: 100rem !important;
        width: 100% !important
    }

    .MessageList .sticky-date>span,
    .MessageList .local-action-message>span,
    .MessageList .ActionMessage>span,
    .MessageList .empty>span {
        background: var(--color-background-own) !important;
        color: var(--color-text) !important
    }
}

html,
body {
    width: 100%;
    height: 100%;
    background-color: var(--color-background);
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: var(--color-text);
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    --font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Apple Color Emoji", "Segoe UI", Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    --font-family-monospace: "Cascadia Mono", "Roboto Mono", "Droid Sans Mono", "SF Mono", "Menlo", "Ubuntu Mono", "Consolas", monospace
}

@media(max-width: 600px) {

    html,
    body {
        height: calc(var(--vh, 1vh)*100)
    }
}

noscript {
    width: 100%;
    height: 100%;
    display: grid;
    align-content: center;
    justify-items: center
}

noscript .nojs-video {
    pointer-events: none
}

noscript .nojs-video::-webkit-media-controls {
    display: none
}

body.is-ios,
body.is-macos {
    --font-family: system-ui, -apple-system, BlinkMacSystemFont, "Roboto", "Apple Color Emoji", "Helvetica Neue", sans-serif
}

html[lang=fa],
html[lang=fa] body {
    --font-family: "Vazirmatn", "Roboto", -apple-system, BlinkMacSystemFont, "Apple Color Emoji", "Segoe UI", Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif
}

html[lang=fa].is-ios,
html[lang=fa].is-macos,
html[lang=fa] body.is-ios,
html[lang=fa] body.is-macos {
    --font-family: "Vazirmatn", -apple-system, BlinkMacSystemFont, "Roboto", "Apple Color Emoji", "Segoe UI", Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif
}

body.is-ios {
    --border-radius-messages: 1rem;
    --border-radius-messages-small: 0.5rem
}

body.cursor-grabbing,
body.cursor-grabbing * {
    cursor: grabbing !important
}

body.cursor-ew-resize {
    cursor: ew-resize !important
}

#root,
.full-height {
    height: 100%
}

@media(max-width: 600px) {

    #root,
    .full-height {
        height: calc(var(--vh, 1vh)*100)
    }
}

#root.is-auth,
.full-height.is-auth {
    background: var(--color-background)
}

#middle-column-portals,
#portals {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 0
}

.hidden {
    visibility: hidden
}

.no-selection {
    user-select: none;
    -webkit-user-select: none !important
}

.resize-handle {
    display: none;
    position: absolute;
    top: 0;
    right: -0.25rem;
    bottom: 0;
    width: .25rem;
    z-index: var(--z-resize-handle);
    cursor: ew-resize
}

@media(min-width: 926px) {
    .resize-handle {
        display: block
    }
}

.visually-hidden {
    position: absolute !important;
    width: 0;
    height: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    z-index: -1
}

.not-implemented {
    opacity: .5
}

.not-implemented,
.not-implemented * {
    cursor: not-allowed !important
}

* {
    box-sizing: border-box
}

.no-animations #root *,
.no-animations #root *::before,
.no-animations #root *::after {
    transition: none !important
}

.custom-scroll,
.custom-scroll-x {
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
    transition: scrollbar-color .3s ease;
    -webkit-overflow-scrolling: touch;
    pointer-events: auto
}

.custom-scroll::-webkit-scrollbar-thumb,
.custom-scroll-x::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0);
    border-radius: .375rem;
    box-shadow: 0 0 1px rgba(255, 255, 255, .01)
}

.custom-scroll:hover,
.custom-scroll:focus,
.custom-scroll:focus-within,
.custom-scroll-x:hover,
.custom-scroll-x:focus,
.custom-scroll-x:focus-within {
    scrollbar-color: var(--color-scrollbar) rgba(0, 0, 0, 0)
}

.custom-scroll:hover::-webkit-scrollbar-thumb,
.custom-scroll:focus::-webkit-scrollbar-thumb,
.custom-scroll:focus-within::-webkit-scrollbar-thumb,
.custom-scroll-x:hover::-webkit-scrollbar-thumb,
.custom-scroll-x:focus::-webkit-scrollbar-thumb,
.custom-scroll-x:focus-within::-webkit-scrollbar-thumb {
    background-color: var(--color-scrollbar)
}

body:not(.is-ios) .custom-scroll::-webkit-scrollbar {
    width: .375rem
}

body:not(.is-ios) .custom-scroll-x::-webkit-scrollbar {
    height: .375rem
}

.no-scrollbar {
    scrollbar-width: none
}

.no-scrollbar::-webkit-scrollbar {
    display: none
}

.emoji-small {
    background: no-repeat;
    background-size: 1.25rem;
    color: rgba(0, 0, 0, 0);
    display: inline-block;
    width: 1.25rem;
    height: 1.25rem;
    margin-inline-end: 1px;
    overflow: hidden;
    flex-shrink: 0
}

.emoji-small::selection {
    background-color: var(--color-selection-highlight-emoji);
    color: rgba(0, 0, 0, 0)
}

div[role=button] {
    outline: none !important;
    cursor: pointer
}

.opacity-transition {
    opacity: 1;
    transition: opacity .15s ease
}

.opacity-transition:not(.open) {
    opacity: 0
}

.opacity-transition:not(.shown) {
    display: none
}

.opacity-transition.slow {
    transition-duration: .3s
}

.color-primary {
    color: var(--color-primary) !important
}

.color-danger {
    color: var(--color-error) !important
}

.text-muted {
    color: var(--color-text-secondary) !important
}

.protector {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    -webkit-user-select: none;
    user-select: none;
    -webkit-touch-callout: none
}

.for-ios-autocapitalization-fix {
    position: fixed;
    font-size: 16px;
    opacity: 0;
    bottom: 1rem;
    z-index: -1
}

.emoji-test-element {
    opacity: 0;
    display: inline;
    white-space: nowrap;
    position: absolute;
    bottom: 0;
    left: 0
}

@keyframes grow-icon {
    0% {
        transform: scale(0.5);
        opacity: .8
    }

    50% {
        transform: scale(1.1);
        opacity: 1
    }

    100% {
        transform: scale(1)
    }
}

@keyframes hide-icon {
    from {
        transform: scale(1);
        opacity: .4
    }

    to {
        transform: scale(0.5);
        opacity: 0
    }
}