.max-length-indicator {
    position: absolute;
    right: .75rem;
    bottom: -0.5625rem;
    padding: 0 .25rem;
    color: var(--color-text-secondary);
    font-size: .75rem;
    background: var(--color-background)
}

.input-group {
    position: relative;
    margin-bottom: 1.5rem
}

.input-group label {
    display: block;
    padding: 0 .25rem;
    position: absolute;
    left: .75rem;
    top: .9375rem;
    background-color: var(--color-background);
    font-size: 1rem;
    font-weight: 400;
    color: var(--color-placeholders);
    transition: transform .15s ease-out, color .15s ease-out;
    cursor: text;
    pointer-events: none;
    transform-origin: left center;
    white-space: nowrap
}

.input-group.with-arrow::after {
    content: "";
    position: absolute;
    height: .75rem;
    width: .75rem;
    border-left: 1px var(--color-text-secondary) solid;
    border-bottom: 1px var(--color-text-secondary) solid;
    transform: rotate(-45deg);
    right: 2rem;
    top: 1rem
}

.input-group.touched label,
.input-group.error label,
.input-group.success label,
.input-group .form-control:focus+label,
.input-group .form-control.focus+label {
    transform: scale(0.75) translate(-0.5rem, -2.25rem);
}

.input-group input::placeholder,
.input-group .form-control::placeholder {
    color: var(--color-placeholders)
}

.input-group.touched label {
    color: var(--color-text-secondary)
}

.input-group.error label {
    color: var(--color-error) !important
}

.input-group.success label {
    color: var(--color-text-green) !important
}

.input-group.disabled {
    opacity: .5;
    pointer-events: none
}

.input-group[dir=rtl] input {
    text-align: right
}

.input-group[dir=rtl] label {
    left: auto;
    right: .75rem
}

.input-group[dir=rtl].with-arrow::after {
    border-left: none;
    border-right: 1px var(--color-text-secondary) solid;
    right: auto;
    left: 2rem
}

.input-group[dir=rtl].touched label,
.input-group[dir=rtl].error label,
.input-group[dir=rtl].success label,
.input-group[dir=rtl] .form-control:focus+label,
.input-group[dir=rtl] .form-control.focus+label {
    transform: scale(0.75) translate(1.5rem, -2.25rem)
}

.form-control {
    --border-width: 1px;
    display: block;
    width: 100%;
    height: 3.375rem;
    padding: calc(.75rem - var(--border-width)) calc(.9rem - var(--border-width));
    border: var(--border-width) solid var(--color-borders-input);
    border-radius: var(--border-radius-default);
    color: var(--color-text);
    background-color: var(--color-background);
    outline: none;
    transition: border-color .15s ease;
    word-break: break-word;
    -webkit-appearance: none;
    font-size: 1rem;
    line-height: 1.25rem
}

.form-control[dir] {
    text-align: initial
}

.form-control:hover {
    border-color: var(--color-primary)
}

.form-control:hover+label {
    color: var(--color-primary)
}

.form-control:focus,
.form-control.focus {
    border-color: var(--color-primary);
    box-shadow: inset 0 0 0 1px var(--color-primary);
    caret-color: var(--color-primary)
}

.form-control:focus+label,
.form-control.focus+label {
    color: var(--color-primary)
}

.form-control:disabled {
    background: none !important
}

.error .form-control {
    border-color: var(--color-error);
    box-shadow: inset 0 0 0 1px var(--color-error);
    caret-color: var(--color-error)
}

.success .form-control {
    border-color: var(--color-text-green);
    box-shadow: inset 0 0 0 1px var(--color-text-green);
    caret-color: var(--color-text-green)
}

.form-control:-webkit-autofill {
    box-shadow: inset 0 0 0 10rem var(--color-background);
    -webkit-text-fill-color: var(--color-text)
}

.form-control:autofill,
.form-control:-webkit-autofill-strong-password,
.form-control:-webkit-autofill-strong-password-viewable,
.form-control:-webkit-autofill-and-obscured {
    box-shadow: inset 0 0 0 10rem var(--color-background);
    -webkit-text-fill-color: var(--color-text)
}

.form-control::-webkit-strong-password-auto-fill-button {
    opacity: 0;
    width: 0 !important;
    overflow: hidden !important;
    max-width: 0 !important;
    min-width: 0 !important;
    clip: rect(0, 0, 0, 0);
    position: absolute
}

.form-control::-ms-clear,
.form-control::-ms-reveal {
    display: none
}

select.form-control option {
    line-height: 2rem
}

textarea.form-control {
    resize: none;
    overflow: hidden;
    line-height: 1.3125rem;
    padding-top: calc(1rem - var(--border-width));
    padding-bottom: calc(1rem - var(--border-width))
}

.input-group.password-input {
    position: relative
}

.input-group.password-input .form-control {
    padding-right: 3.375rem
}

.input-group.password-input .toggle-password {
    position: absolute;
    top: 0;
    right: 0;
    width: 3.375rem;
    height: 3.375rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    outline: none !important;
    color: var(--color-text-secondary);
    opacity: .7;
    font-size: 1.5rem
}

.input-group.password-input .toggle-password:hover,
.input-group.password-input .toggle-password:focus {
    opacity: 1
}

.input-group.password-input[dir=rtl] .form-control {
    padding-left: 3.375rem;
    padding-right: calc(.9rem - var(--border-width))
}

.input-group.password-input[dir=rtl] .toggle-password {
    left: 0;
    right: auto
}