.icon-loop:before {
    content: ""
}

.icon-skip-next:before {
    content: ""
}

.icon-skip-previous:before {
    content: ""
}

.icon-volume-1:before {
    content: ""
}

.icon-volume-2:before {
    content: ""
}

.icon-volume-3:before {
    content: ""
}

.icon-pip:before {
    content: ""
}

.icon-gift:before {
    content: ""
}

.icon-sort:before {
    content: ""
}

.icon-web:before {
    content: ""
}

.icon-transcribe:before {
    content: ""
}

.icon-add-one-badge:before {
    content: ""
}

.icon-chat-badge:before {
    content: ""
}

.icon-chats-badge:before {
    content: ""
}

.icon-double-badge:before {
    content: ""
}

.icon-file-badge:before {
    content: ""
}

.icon-folder-badge:before {
    content: ""
}

.icon-link-badge:before {
    content: ""
}

.icon-pin-badge:before {
    content: ""
}

.icon-premium:before {
    content: ""
}

.icon-unlock-badge:before {
    content: ""
}

.icon-lock-badge:before {
    content: ""
}

.icon-key:before {
    content: ""
}

.icon-heart-outline:before {
    content: ""
}

.icon-heart:before {
    content: ""
}

.icon-word-wrap:before {
    content: ""
}

.icon-webapp:before {
    content: ""
}

.icon-reload:before {
    content: ""
}

.icon-install:before {
    content: ""
}

.icon-favorite-filled:before {
    content: ""
}

.icon-share-screen:before {
    content: ""
}

.icon-video-outlined:before {
    content: ""
}

.icon-stats:before {
    content: ""
}

.icon-copy-media:before {
    content: ""
}

.icon-sidebar:before {
    content: ""
}

.icon-video-stop:before {
    content: ""
}

.icon-speaker:before {
    content: ""
}

.icon-speaker-outline:before {
    content: ""
}

.icon-phone-discard-outline:before {
    content: ""
}

.icon-allow-speak:before {
    content: ""
}

.icon-stop-raising-hand:before {
    content: ""
}

.icon-share-screen-outlined:before {
    content: ""
}

.icon-voice-chat:before {
    content: ""
}

.icon-video:before {
    content: ""
}

.icon-noise-suppression:before {
    content: ""
}

.icon-phone-discard:before {
    content: ""
}

.icon-bot-commands-filled:before {
    content: ""
}

.icon-reply-filled:before {
    content: ""
}

icon-bug:before {
    content: ""
}

.icon-data:before {
    content: ""
}

.icon-darkmode:before {
    content: ""
}

.icon-animations:before {
    content: ""
}

.icon-enter:before {
    content: ""
}

.icon-fontsize:before {
    content: ""
}

.icon-permissions:before {
    content: ""
}

.icon-card:before {
    content: ""
}

.icon-truck:before {
    content: ""
}

.icon-share-filled:before {
    content: ""
}

.icon-bold:before {
    content: ""
}

.icon-bot-command:before {
    content: ""
}

.icon-calendar-filter:before {
    content: ""
}

.icon-comments:before {
    content: ""
}

.icon-comments-sticker:before {
    content: ""
}

.icon-arrow-down:before {
    content: ""
}

.icon-email:before {
    content: ""
}

.icon-italic:before {
    content: ""
}

.icon-link:before {
    content: ""
}

.icon-mention:before {
    content: ""
}

.icon-monospace:before {
    content: ""
}

.icon-next:before {
    content: ""
}

.icon-password-off:before {
    content: ""
}

.icon-pin-list:before {
    content: ""
}

.icon-previous:before {
    content: ""
}

.icon-replace:before {
    content: ""
}

.icon-schedule:before {
    content: ""
}

.icon-strikethrough:before {
    content: ""
}

.icon-underlined:before {
    content: ""
}

.icon-zoom-in:before {
    content: ""
}

.icon-zoom-out:before {
    content: ""
}

.icon-select:before {
    content: ""
}

.icon-folder:before {
    content: ""
}

.icon-bots:before {
    content: ""
}

.icon-calendar:before {
    content: ""
}

.icon-cloud-download:before {
    content: ""
}

.icon-colorize:before {
    content: ""
}

.icon-forward:before {
    content: ""
}

.icon-reply:before {
    content: ""
}

.icon-help:before {
    content: ""
}

.icon-info:before {
    content: ""
}

.icon-info-filled:before {
    content: ""
}

.icon-delete-filled:before {
    content: ""
}

.icon-delete:before {
    content: ""
}

.icon-edit:before {
    content: ""
}

.icon-new-chat-filled:before {
    content: ""
}

.icon-send:before {
    content: ""
}

.icon-send-outline:before {
    content: ""
}

.icon-add-user-filled:before {
    content: ""
}

.icon-add-user:before {
    content: ""
}

.icon-delete-user:before {
    content: ""
}

.icon-microphone:before {
    content: ""
}

.icon-microphone-alt:before {
    content: ""
}

.icon-poll:before {
    content: ""
}

.icon-revote:before {
    content: ""
}

.icon-photo:before {
    content: ""
}

.icon-document:before {
    content: ""
}

.icon-camera:before {
    content: ""
}

.icon-camera-add:before {
    content: ""
}

.icon-logout:before {
    content: ""
}

.icon-saved-messages:before {
    content: ""
}

.icon-settings:before {
    content: ""
}

.icon-phone:before {
    content: ""
}

.icon-attach:before {
    content: ""
}

.icon-copy:before {
    content: ""
}

.icon-channel:before {
    content: ""
}

.icon-group:before {
    content: ""
}

.icon-user:before {
    content: ""
}

.icon-non-contacts:before {
    content: ""
}

.icon-active-sessions:before {
    content: ""
}

.icon-admin:before {
    content: ""
}

.icon-download:before {
    content: ""
}

.icon-location:before {
    content: ""
}

.icon-stop:before {
    content: ""
}

.icon-archive:before {
    content: ""
}

.icon-unarchive:before {
    content: ""
}

.icon-readchats:before {
    content: ""
}

.icon-unread:before {
    content: ""
}

.icon-message:before {
    content: ""
}

.icon-lock:before {
    content: ""
}

.icon-unlock:before {
    content: ""
}

.icon-mute:before {
    content: ""
}

.icon-unmute:before {
    content: ""
}

.icon-pin:before {
    content: ""
}

.icon-unpin:before {
    content: ""
}

.icon-smallscreen:before {
    content: ""
}

.icon-fullscreen:before {
    content: ""
}

.icon-large-pause:before {
    content: ""
}

.icon-large-play:before {
    content: ""
}

.icon-pause:before {
    content: ""
}

.icon-play:before {
    content: ""
}

.icon-channelviews:before {
    content: ""
}

.icon-message-succeeded:before {
    content: ""
}

.icon-message-read:before {
    content: ""
}

.icon-message-pending:before {
    content: ""
}

.icon-message-failed:before {
    content: ""
}

.icon-favorite:before {
    content: ""
}

.icon-keyboard:before {
    content: ""
}

.icon-delete-left:before {
    content: ""
}

.icon-recent:before {
    content: ""
}

.icon-gifs:before {
    content: ""
}

.icon-stickers:before {
    content: ""
}

.icon-smile:before {
    content: ""
}

.icon-animals:before {
    content: ""
}

.icon-eats:before {
    content: ""
}

.icon-sport:before {
    content: ""
}

.icon-car:before {
    content: ""
}

.icon-lamp:before {
    content: ""
}

.icon-language:before {
    content: ""
}

.icon-flag:before {
    content: ""
}

.icon-more:before {
    content: ""
}

.icon-search:before {
    content: ""
}

.icon-remove:before {
    content: ""
}

.icon-add:before {
    content: ""
}

.icon-check:before {
    content: ""
}

.icon-close:before {
    content: ""
}

.icon-arrow-left:before {
    content: ""
}

.icon-arrow-right:before {
    content: ""
}

.icon-down:before {
    content: ""
}

.icon-up:before {
    content: ""
}

.icon-eye-closed:before {
    content: ""
}

.icon-eye:before {
    content: ""
}

.icon-muted:before {
    content: ""
}

.icon-avatar-archived-chats:before {
    content: ""
}

.icon-avatar-deleted-account:before {
    content: ""
}

.icon-avatar-saved-messages:before {
    content: ""
}

.icon-pinned-chat:before {
    content: ""
}