.media-inner {
    position: relative
}

.media-inner video,
.media-inner img {
    display: block;
    object-fit: cover
}

.media-inner video {
    background: no-repeat 50% 50%;
    background-size: contain
}

.media-inner .thumbnail~.thumbnail,
.media-inner .thumbnail~.full-media,
.media-inner .media-loading {
    position: absolute
}