.auth-form .note {
    font-size: .875rem;
    line-height: 1.35;
    margin-bottom: 2.5rem;
    color: var(--color-text-secondary);

    @media(min-width: 600px) {
        font-size: 1rem;
        margin-bottom: 3rem
    }
}

